.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/

.project
.classpath
.settings
.idea


example/test/

example/ios/Flutter/flutter_export_environment.sh

android/gradle/wrapper/gradle-wrapper.jar

android/gradle/wrapper/gradle-wrapper.properties
